@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    /* 1-20 2:03 #100325 dark purple */
    /* Original: #2b1055, #7597de */
}

.front-page
{
    background:-webkit-linear-gradient(top, #817091, #e3c0c0);
}

header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: auto;
    padding: 13px 40px;
    display: flex;
    z-index: 10000;
}
header .logo
{
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
}
header .navbar
{
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin-right: auto;
    padding: 0;
}
header ul
{ 
    align-self: center;
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    gap: 30px;
}
header ul li
{
    list-style: none;
    width: 21%;
    display: flex;
    justify-content: center;
}
header ul li a
{
    padding: 7px 16px;
    text-decoration: none;
    /* color: white; */
    color: white;
    border-radius: 20px;
}
header ul li a:hover, header ul li a.active
{
    background: white;
    color: #2b1055;
}
header div.social
{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 14px;
    flex: 1;
    justify-content: flex-end;
}
.hello
{
    font-size: 0.6em;
}

/*********** Social media button styling ***********/
.fa{
    padding: 8px 0px;
    font-size: 30px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}  
/***************************************************/

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img:not(#sydney-profile-img)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
    top: 280px;
    width: 100%;
    opacity: 0.65;
}
#text
{
    /* position: absolute; */
    color: white;
    font-size: 5vw;
    z-index: 9;
    font-weight: 500;
    /* width: 50%; */
    text-align: center;
}
section h2 span
{
    font-size: 2vw;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 6px 26px;
    border-radius: 40px;
    background: white;
    color: #2b1055;
    font-size: 1.4em;
    z-index: 11;
    /* transform: translateY(170px); */
    margin: 5;
}
.profile-img
{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#sydney-profile-img
{
    height: auto;
    width: 170%;
    margin-left: -15%;
}
.button
{
    display: inline;
    background-color: #f197a3;
    margin-top: 2em;
    padding: 0.3em 0.8em;
    border-radius: 0.8em;

}
#resume
{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.button:hover, #resume:hover
{
    color: #f197a3;
    background-color: white;
}
.click
{
    position: relative;
    top: -2px;
    bottom: 0;
    margin: auto;
    width: 20px;
}
