/* @import url("https://fonts.googleapis.com/css?family=Poppins|Pathway+Gothic+One"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.button
{
    display: inline;
    margin-top: 2em;
    padding: 0.3em 0.8em;
    border-radius: 0.8em;
    cursor: pointer;
}
#resume, .experience-type
{
    text-decoration: none;
    font-weight: 500;
}
.experience-type
{
  color: white;
}
.software-button, .medical-button
{
  background-color: #f197a3;
  padding: 0.5em 1em;
  border-radius: 1.5em;
}
.resume-button{
  background-color: white;
}
#resume
{
  color: black;
}
.resume-button:hover
{
  background-color: black;
}
.resume-button:hover #resume
{
  color: white;
}
.software-button:hover, .medical-button:hover
{
    color: #f197a3;
    background-color: white;
}
.click
{
    position: relative;
    top: -2px;
    bottom: 0;
    margin: auto;
    width: 20px;
}
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.timeline-content-title {
  font-weight: 600;
  font-size: 26px;
  transition: .4s;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #446594;
}
.timeline-content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: white;
  display: inline;
  padding: 0.3em 0.8em;
  border-radius: 0.8em;
  /* color: #5a5f75; */
  font-family: Montserrat;
  font-weight: 500;
  /* line-height: 25px; */
}
.role 
{
  background-color: #446594;
}
.project
{
  background-color: #5a5f75;
}
/* timeline line itself */
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.08);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-content{
  padding: 30px;
  opacity: .3;
  border-radius: 3em;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  /* display: flex; */
  flex-wrap: wrap;
  /* position: relative; */
  /* transform: translateY(-80px); */
  background-color: #f197a3;
  transform: translateY(-20px);
}
.timeline-info-right{
  /* content: attr(data-text); */
  letter-spacing: 3px;
  width: 50%;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  opacity: 0;
  /* right: calc(-100% - 56px ); */
}
.timeline-info-left{
  /* content: attr(data-text); */
  letter-spacing: 3px;
  width: 50%;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
  opacity: 0;
  flex-wrap: wrap;
  /* right: calc(-100% - 56px ); */
}
.timeline-info-left p
{
  width: 100%;
  text-align: right;
}
.timeline-info-right p
{
  width: 100%;
  text-align: left;
}
.date{
  font-size: 0.8em;
  color: #e3c0c0;
}
.timeline-item .timeline-content:nth-child(even) {
  align-self: flex-end;
  float: right;
}
.timeline-item .timeline-content:nth-child(even):before {
  right: auto;
  text-align: right;
  overflow-wrap: break-word;
  left: calc(-100% - 56px );
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-info--active {
  top: 50%;
  top: 75%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline-content-title {
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #e3c0c0; */
  background: #446594;
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.timeline-header-title {
  color: white;
  font-size: 46px;
  font-family: Montserrat;
  font-weight: 600;
  margin: 0;
}
.timeline-header-subtitle-container
{
  perspective: 800;
  -moz-perspective: 800;
  -webkit-perspective: 800;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.timeline-header-subtitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.highlight{
  background-color: rgba(255, 255, 156, 0.883);
  padding: 0 0.2em;
  border-radius: 0.4em;
  font-size: 23px;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Montserrat;
}
/* TIMELINE FLIP */
.flipped {
  transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}
.face {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.software-timeline {
  display: block;
}
.flipped .software-timeline {
  display: none;
}
.medical-timeline {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  display:none;
}
.flipped .medical-timeline {
  display:block;
}