<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sydney Fang</title>

    <!-- Search optimization -->
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Bootstrap and JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- CSS Style sheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/timeline.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

    <!-- Fonts -->

    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="header" class="">
        <div class="navbar">
            <ul class = "nav-li">
                <li><a class="" href="#timeline">Work</a></li>
                <li><a class="" href="#about-me">About</a></li>
                <!-- <li><a class="" href="blog.html">Blog</a></li>
                <li><a class="" href="contact.html">Contact</a></li> -->
            </ul>
        </div>

        <div class="logo">
            <a href="index.html" class=""><img src="{{url_for('static', filename = 'img/logo.png')}}" width="50px"></a>
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/in/sydney-fang" class="fa fa-linkedin"><i class=""></i></a>
            <!-- <a href="#" class="fa fa-facebook"><i class=""></i></a> -->
            <!-- <a href="#" class="fa fa-instagram"><i class=""></i></a> -->
        </div>
    </header>
    <container>
        <div class="chatbox">
            <div class="chatbox-support">
                <div class="chatbox-header">
                    <div class="chatbox-image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox-content--header">
                        <h4 class="chatbox-heading--header">Chat support</h4>
                        <p class="chatbox-description--header">Hi. My name is Sam. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox-messages">
                    <div></div>
                </div>
                <div class="chatbox-footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox-send--footer send-button">Send</button>
                </div>
            </div>
            <div class="chatbox-button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </container>
    <section class="front-page">
        <img src="{{url_for('static', filename = 'img/stars.png')}}" id="stars">
        <img src="{{url_for('static', filename = 'img/moon.png')}}" id="moon">
        <img src="{{url_for('static', filename = 'img/mountains_behind.png')}}" id="mountains_behind">
        <div class = "row">
            <div id="text" class=""><span class = "hello">Hi! My name is</span><br>Sydney<br>Tzu-Jung Fang</div>
            <!-- <div><a href="home.html#sec" class = "m-3" id="btn">My works</a></div> -->
        </div>
        <img src="{{url_for('static', filename = 'img/mountains_front.png')}}" id="mountains_front">
    </section>
    <section id = "about-me" class="about-me d-flex col">
        <div class="profile-img me-5">
            <img id = "sydney-profile-img" src = "{{url_for('static', filename = 'img/sydney-profile.png')}}">
        </div>
        <div class="summary">
            <h1>About me</h1>
            <p class = "fw-bold">Full name</p>
            <p>Sydney Tzu-Jung Fang (方姿蓉)</p>
            <p class = "fw-bold">Email</p>
            <p>sydney.tj.fang@gmail.com</p>
            <p class = "fw-bold">Education</p>
            <p>The University of British Columbia<br><span class = "fst-italic">
            Double major in Computer Science and Bio-Chemistry</span></p>
        </div>
        <div class="bio">

        </div>
    </section>
    <!-- <section> -->
    <!-- <div class="sec" id="sec"> -->
    <!-- Work timeline -->
    <div class="timeline-container" id="timeline">
        <div class="timeline-header">
            <h2 class="timeline-header-title">Experience</h2>
            <h3 class="timeline-header-subtitle mb-3">Related work and technical experience</h3>
            <div class = "button">
                <a id = "resume" class = "" href = "{{url_for('static', filename = 'pdf/sydney-resume.png')}}" target="_blank" download>Download my resume<img class = "click align-self-center" src = "{{url_for('static', filename = 'img/click.png')}}"></a>
            </div>
        </div>
        <div class="timeline">

            <div class="timeline-item d-flex flex-row justify-content-between">
                <!--Canadian Space Agency (CSA)&#xa;&&#xa;Students for the Exploration&#xa;and Development of Space (SEDS-Canada)-->
                <div class="timeline-content">
                    <!-- <img class="timeline-img" src="http://i.cdn.ensonhaber.com/resimler/diger/ataturk_3473.jpg" /> -->
                    <h2 class="timeline-content-title text-uppercase mb-1">Canadian Stratospheric Balloon Experiment Design Challenge<br>(CAN-SBX) - <span class = "highlight">Winner</span></h2>
                    <!-- <div class = "button d-block"> -->
                        <a class = "link d-block mb-3" href = "https://www.asc-csa.gc.ca/eng/sciences/balloons/campaign-2022.asp">Government of Canada - CSA</a>
                        <!-- <img class = "click align-self-center" src = "img/click.png"> -->
                    <!-- </div> -->
                    <p class="timeline-content-desc fs-6 mt-2">Software Engineer Lead</p>
                </div>
                <div class = "flex-fill"></div>
                <div class = "timeline-info timeline-info-right align-self-center">
                    <p class="fs-6 company m-0">Canadian Space Agency, SEDS - CAN-SBX</p>
                    <p class = "date m-0 text-uppercase">OCT 2021 - PRESENT</p>
                </div>
            </div>

            <div class="timeline-item d-flex flex-row">
                <div class = "timeline-info timeline-info-left align-self-center d-flex justify-content-end">
                    <p class="fs-6 company m-0">The University of British Columbia</p>
                    <p class = "date m-0 text-uppercase">JUL 2022 - Present</p>
                </div>
                <div class = "flex-fill"></div>
                <div class="timeline-content">
                    <h2 class="timeline-content-title text-uppercase mb-3">Natural Language Processing & Body Translation Research</h2>
                    <p class="timeline-content-desc fs-6 mt-2">ML/AI/NLP Researcher</p>
                </div>
            </div>

            <div class="timeline-item d-flex flex-row justify-content-between">
                <div class="timeline-content">
                    <h2 class="timeline-content-title text-uppercase m-0">Parcade</h2>
                    <a class = "link d-block mb-3" href = "https://devpost.com/software/parcade">https://devpost.com/software/parcade</a>
                    <p class="timeline-content-desc fs-6">Software Engineer Lead</p>
                </div>
                <div class = "flex-fill"></div>
                <div class = "timeline-info timeline-info-right align-self-center">
                    <p class="fs-6 company m-0">Competitive coding Hackathon 2022,</p>
                    <p class="fs-6 company m-0">Major League Hacking</p>
                    <p class = "date m-0 text-uppercase">Nov 25 - 27 2022</p>
                </div>
            </div>

            <div class="timeline-item d-flex flex-row">
                <div class = "timeline-info timeline-info-left align-self-center d-flex justify-content-end">
                    <p class="fs-6 company m-0">The University of British Columbia</p>
                    <p class = "date m-0 text-uppercase">Jun 2022 - Sep 2022</p>
                </div>
                <div class = "flex-fill"></div>
                <div class="timeline-content">
                    <h2 class="timeline-content-title text-uppercase mb-3">Single molecule Mechanobiology lab</h2>
                    <p class="timeline-content-desc fs-6 mt-2">Data Analyst</p>
                </div>
            </div>

            <div class="timeline-item d-flex flex-row justify-content-between">
                <div class="timeline-content">
                    <h2 class="timeline-content-title text-uppercase mb-3">The Okanagan Waterway Project: 3D interactive modelling </h2>
                    <p class="timeline-content-desc fs-6">Software Research Assistant</p>
                </div>
                <div class = "flex-fill"></div>
                <div class = "timeline-info timeline-info-right align-self-center">
                    <p class="fs-6 company m-0">The University of British Columbia</p>
                    <p class = "date m-0 text-uppercase">Sep 2019 - Apr 2020</p>
                </div>
            </div>

            <div class="timeline-item d-flex flex-row">
                <div class = "timeline-info timeline-info-left align-self-center text-end">
                    <p class="fs-6 company m-0">Competitive coding Hackathon 2020,</p>
                    <p class="fs-6 company m-0">Major League Hacking</p>
                    <p class = "date m-0 text-uppercase">Jan 18 - 19 2020</p>
                </div>
                <div class = "flex-fill"></div>
                <div class="timeline-content">
                    <h2 class="timeline-content-title text-uppercase m-0">rumino</h2>
                    <a class = "link d-block mb-3" href = "https://devpost.com/software/rumino">https://devpost.com/software/rumino</a>
                    <p class="timeline-content-desc fs-6 mt-2">Software Engineer Lead</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <section>
        <h1>Skills</h1>
    </section> -->
    <section class = "text-center">
        <div class="summary">
            <h1 class = "mb-5 align-items-center">I am open for work and any learning opportunities!</h1>
        </div>
    </section>

    <script>
        let stars = document.getElementById("stars");
        let moon = document.getElementById("moon");
        let mountains_behind = document.getElementById("mountains_behind");
        let mountains_front = document.getElementById("mountains_front");
        let text = document.getElementById("text");
        let btn = document.getElementById("btn");
        let header = document.querySelector('header');
        let navbar_li = $(".navbar ul li");

        // Let stars move across sky as you scroll
        window.addEventListener('scroll', function () {
            let value = window.scrollY;
            var rbg = value / 5 * 0.01;
            console.log("rbg: " + rbg);
            stars.style.left = value * 0.25 + 'px';
            moon.style.top = value * 1.05 + 'px';
            mountains_behind.style.top = value * 0.5 + 'px';
            mountains_front.style.width = 100 + value / 15 + "%";
            // text.style.marginRight = value * 4 + 'px';
            text.style.marginTop = value * 1.5 + 'px';
            // btn.style.marginTop = value * 1.5 + 'px';
            console.log("ScrollY: " + window.scrollY)
            if (window.scrollY > 50) {
                // header.classList.add('scroll-active');
                // header.style.backgroundColor = "rgb(129, 112, 145, " + value / 5 * 0.01 + ")";
                if(rbg < 1)
                {
                    console.log(rbg)
                    header.style.backgroundColor = "rgb(255, 255, 255, " + rbg + ")";
                }
                else{
                    header.style.backgroundColor = "rgb(255, 255, 255, 0.5)"
                }
                $('header ul li a').css('color', 'black');
            }
            else
            {
                // header.style.backgroundColor = "rgb(129, 112, 145, 0)";
                header.style.backgroundColor = "rgb(255, 255, 255, 0)";
                $('header ul li a').css('color', 'white');
                // $('header ul li a:hover').css('color', 'black');
            }
        })
    </script>
    <script src="{{url_for('static', filename = 'js/timeline.js')}}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; // tells you the root of this script
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
